{% include "home/base.html"  %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'org_home/style.css' %}" />

<article>
    <div id="GroupRoots">
        <a style="display:block; font-size:30; text-align:center; text-decoration:none " href = "{% url 'home:index' %}">Group Roots</a>
    </div>

    <div id="navbar">
        <a href="{% url 'home:organizations' %}"> Organizations </a>
        <a href="">Projects</a>
    </div>

    <main>
        {% if member_organizations_list %}
        <h3> Your organizations:</h3>
            <ul style="list-style: none;">
            {% for organization in member_organizations_list %}
                <li> <a href="{% url 'org_home:index' organization.id %}"> {{ organization }} </a> </li>
            {% endfor %}
            </ul>
        {% endif %}
    </main>


    <div id="tasks">
        Your tasks
    </div>
</article>
