{% extends "home/base.html"  %}
{% load static %}

{% block content %}

    <div id="navbar">
        <a style="padding-right:5px" href="{% url 'home:organizations' %}"> Organizations </a>
        <label>|</label>
        <a style="padding-left:5px" href="">Projects</a>
    </div>

    <main>
        {% if member_organizations_list %}
        <h3> Your organizations:</h3>
            <ul style="list-style: none;">
            {% for organization in member_organizations_list %}
                <li> <a href="{% url 'org_home:index' organization.id %}"> {{ organization }} </a> </li>
            {% endfor %}
            </ul>
        {% endif %}
    </main>


    <div id="tasks">
        Your tasks
    </div>

{% endblock %}
