{% extends "home/base.html"  %}
{% load static %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<main>
    <form action="{% url 'home:submitOrgType' organization.id %}" method="post">
    {% csrf_token %}
        <div id="forms">
            <h1 style="margin-left: 30%">Type of Organization: </h1>

            <ul class="orgTypeButtons">
                <li>
                    <input type="radio" name="org_type" id="non_profit" value="non_profit" />
                    <label for="non_profit">Non Profit</label>
                </li>
                <li>
                    <input type="radio" name="org_type" id="for_profit" value="for_profit" />
                    <label for="for_profit">For Profit</label>
                </li>
                <li>
                    <input type="radio" name="org_type" id="regular_org" value="regular_org" />
                    <label for="regular_org">Basic Organization</label>
                </li>
            </ul>


        </div>
        <br/><br/><br/><br/><br/>

        <input style="float:right" type="submit" value="Next"/>
    </form>
</main>

{% endblock %}
