form{
    margin-top: 10px;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#parentSelect {
    height: 280px;
    grid-column: 1;
    grid-row:1/2;
    background-color: white;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-left:0;
    width: 200px;
    padding: 5px 10px;
}

main {
    grid-column: 2;
    grid-row:1/2;
    height: 280px;
    margin: 0 0 0 0;
    padding: 10 10 0 10;
}

#notInCat{
    color: #a6a6a6;
}

h1,h2,h3{
    text-align: center;
}
