.expandButton {
    background:none;
    border-radius:20px;

    margin-left:2;
    padding:3 7 7;
}

.categoryMenuItems {
    border-style: solid;
    width: 90px;
    height: 80px;
    margin:10px;
    display:inline-grid;
    border-width: thin;
    border-color: #d6d6d8;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    border-radius: 8px;
}

aside {
    display:grid;
    grid-template-rows: min-content;
    grid-row:2/5;
    grid-column:1;
}

#vote {
    padding: 20 20 20 20;
    grid-column: 2/3;
    grid-row: 2;
    margin-left: 0;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
    align-self: start;
    background-color:white;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#discuss {
    padding: 20 20 20 20;
    grid-column: 2/3;
    grid-row: 3;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
    width: 60%;
    align-self: start;
    background-color:white;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#categoriesNav {
    margin-top:20px;
    margin-right:15px;
    margin-left:auto;
    width: 200px;
    height: 200px;
    align-self:right;
    grid-row: 1;
    background-color: white;
    padding: 60px 10px 100px;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#categoriesNav:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#projMenu {
    margin-top:20px;
    margin-right:15px;
    margin-left:auto;
    width: 200px;
    height: 200px;
    grid-row: 2;
    background-color: white;
    padding: 60px 10px 100px;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#projMenu:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    grid-column: 2/3;
    grid-row: 1;
    width: 450px;
    height: 40px;
    padding-top:5px;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}


#feed {
    padding: 20 20 20 20;
    grid-column: 2/3;
    grid-row: 3;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
    width: 60%;
    align-self: start;
    background-color:white;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
