<a href = "{% url 'org_home:index' organization.id %}">Home</a><br/>

<h1>Monetary Distribution</h1>
<div contenteditable="true">
    <p>-------------------------</p>

    <h2>Revenue Money:</h2>

    <div>
        <h3>Base Payment + benefits*</h3>
        <p>* actually 0 for now</p>
    </div>

    <div>
        <h3>Development Costs: Revenue - Base Payment</h3>
        <ul>
            <li>100% development costs</li>
        </ul>
    </div>

    <div>
        <h3>Profit: Revenue - Base Payment - Development Costs</h3>
    </div>
</div>
<div contenteditable="true">
    <p>-------------------------</p>

    <h2>Profit Money:</h2>

    <div>
        <h3>40%: Worker Payment*</h3>
        <p>* Work payment Individually distributed by Percent = Individual Points / Total Points</p>
    </div>

    <div>
        <h3>30%: Investor Payments </h3>
        <ol>
            <li>40% first round investors</li>
            <li>30% second round investors</li>
            <li>30% investors after second round</li>
        </ol>
    </div>

    <div>
        <h3>14%: Company Money Bank</h3>
    </div>

    <div>
        <h3>10%: Founding Team Payment </h3>
        * Max of $50 Million per individual per year
        <ul>
            <li>50% Andrei</li>
            <li>50% tbd</li>
        </ul>
    </div>

    <div>
        <h3>6%: Service Cost</h3>
    </div>
</div>
    <p>-------------------------</p>

    <h2>Investment Money:</h2>
    <p>* This is default, each investor can choose their percentages *</p>

    <div>
        <h3>60%: Development Costs</h3>
        <ul>
            <li>100% development costs</li>
        </ul>
    </div>

    <div>
        <h3>40%: Base Payment*</h3>
        <p>* actually 0 for now</p>
    </div>

