{% extends "home/base.html"  %}
{% load static %}

{% block headerContent %}
    <a style="font-size: 29px; text-decoration:none; padding-right:5px; margin-left: 33%;" href = "{% url 'org_home:index' organization.id %}">{{ organization }}</a>
{% endblock %}   

{% block content %}

    <!-- aside at left part of screen. Contains the category navigator and project navigator. -->
    {% if user in organization.members.all %}
    <aside>
        <div id="categoriesNav">
            {% if organization_id != "" %}
            <p style="display:block; margin-top: 0; text-align:center; font-size: 25; text-decoration:none;">Departments</p>
            <br/>
            {% endif %}
            <script>
                function addExpandButton(id,name){
                    subCategories = subCategoriesAndId(name);
                    if (subCategoriesAndId(name)[0].length != 0){
                        document.getElementById(id).innerHTML += "<button class='expandButton' id=\"exp" + id + "\" onclick=\"expand('" + id + "', '" + name + "')\">></button></div>";
                    }
                }
                function subCategoriesAndId(parent_name){
                    var subCategoryList = [];
                    var subCategoryIdList = [];
                    {% for category in categories_list %}
                        if ("{{ category.parent }}" == parent_name){
                            var c = "{{ category.category_name }}";
                            var id = "{{ category.id }}";
                            subCategoryList.push(c);
                            subCategoryIdList.push(id);
                        }
                    {% endfor %}
                    return [subCategoryList,subCategoryIdList]
                }
                <!--Will expand to show the list of subcategories-->
                function expand(divName,parent_name)
                {
                    subCategories = subCategoriesAndId(parent_name);
                    var subCategoryList = subCategories[0];
                    var subCategoryIdList = subCategories[1];
                    var newdiv = document.createElement('div');
                    newdiv.id = "close" + divName;
                    var checkOnPage =  document.getElementById(newdiv.id);
                    if (checkOnPage == null){
                        for (c in subCategoryList)
                        {
                            var id = subCategoryIdList[c];
                            var name = subCategoryList[c];
                            url = "{% url 'org_home:individualCategory' organization_id=organization.id category_id=123 %}".replace("123", id);
                            if (subCategoriesAndId(name)[0].length != 0)
                            {
                                if (name == "{{ category }}")
                                {
                                    newdiv.innerHTML += "<div style='margin-left:15px; margin-top:10px;' id=" + id + ">\
                                    <a style='margin-left: 20px; color: #3a3a3a; font-weight:bold; text-decoration:none' href = " +  url + " >" + name + "</a>\
                                    <button class='expandButton' id=\"exp" + id + "\" onclick=\"expand('" + id + "', '" + name + "')\">></button></div>";
                                }
                                else
                                {
                                    newdiv.innerHTML += "<div style='margin-left:15px; margin-top:10px;' id=" + id + ">\
                                    <a style='margin-left: 20px; text-decoration:none' href = " +  url + " >" + name + "</a>\
                                    <button class='expandButton' id=\"exp" + id + "\" onclick=\"expand('" + id + "', '" + name + "')\">></button></div>";
                                }
                            }
                            else
                            {
                                if (name == "{{ category }}")
                                {
                                    newdiv.innerHTML += "<div style='margin-left:15px; margin-top:10px;' id=" + id + ">\
                                    <a style='margin-left: 20px; color: #3a3a3a; font-weight:bold; text-decoration:none' id='link" + id + "' href = " +  url + " >" + name + "</a>";
                                }
                                else
                                {
                                    newdiv.innerHTML += "<div style='margin-left:15px; margin-top:10px;' id=" + id + ">\
                                    <a style='margin-left: 20px; text-decoration:none' id='link" + id + "' href = " +  url + " >" + name + "</a>";  
                                }
                            }
                        }
                        document.getElementById(divName).innerHTML += "<input class='expandButton' id='closeButton" + divName + "' type=button value='v' onclick=\"contract('" + divName + "')\"/>";
                        document.getElementById(divName).appendChild(newdiv);
                        document.getElementById("exp" + divName).style.display='none';
                        }
                    }
                // contract list of subcategories
                function contract(divName)
                {
                    document.getElementById("close" + divName).remove();
                    document.getElementById("closeButton" + divName).remove();
                    document.getElementById("exp" + divName).style.display = '';
                }
            </script>

            <!-- Displays nested categories and expanding till current page category -->
            {% if categories_list %}
                {% for category in categories_list %}

                    <!-- The executive category -->
                    {% if category.parent == None %}
                        <div id= {{ category.id }}>
                            {% if real_cat.category_name == "Executive" %}
                                <a style='margin-left: 20px; color: #3a3a3a; font-weight:bold; text-decoration:none' href="{% url 'org_home:individualCategory' organization.id category.id %}"> {{ category }} </a>
                            {% else %}
                               <a style='margin-left: 20px; text-decoration:none' href="{% url 'org_home:individualCategory' organization.id category.id %}"> {{ category }} </a>
                            {% endif %}
                            <!-- Need to add this here in order to get button that contracts and expands -->
                            <script>addExpandButton('{{ category.id }}', '{{ category }}');</script>
                            <script>expand('{{ category.id }}', '{{ category }}');</script>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Expand till get to current page category -->
                {% for ancestor in ancestor_categories_list %}
                    <!-- Don't need addExpandButton here because it is automatically added when executive calls it and expand
                     adds it automatically. (No expand called on executive because it is the base so need to manually add it there) -->
                    <script>expand('{{ ancestor.id }}', '{{ ancestor }}');</script>
                {% endfor %}
            {% else %}
                <p>Create the first department :)</p>
            {% endif %}

            <br/>
            {% if category %}
                <div style='background-color: #4d4e4e; width:160px; height: 20px; text-align: center; padding-top: 3px; margin-left: 20px; border-radius: 7px;'>
                    <a style='color:white; font-size: 13px; text-decoration:none' href = "{% url 'org_home:newSubCategory' organization.id category.id %}">Create New Department</a>
                </div>
            {% else %}
                <div style='background-color: #4d4e4e; width:160px; height: 20px; text-align: center; padding-top: 3px; margin-left: 20px; border-radius: 7px;'>
                    <a style='color:white; font-size: 13px; text-decoration:none' href = "{% url 'org_home:newCategory' organization.id %}">Create New Department</a>
                </div>
            {% endif %}
        </div>

    </aside>
    {% endif %}

    {% block content2 %}
    {% endblock %}

{% endblock %}
