<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'org_home/style.css' %}" />
  <body>
    <header>
        {% include "home/base.html"  %}
    </header>

    {% if category %}
        <div id="navbar">
            <a style="font-size: 29px; text-decoration:none;" href="{% url 'org_home:individualCategory' organization.id category.id %}">{{ category }}</a>
            <!--if user not part of this then show join-->
            <!--or else don't show work or polls and maybe even discussion-->
            {% if user in category.members.all %}
                <label>  |  </label>
                <a style="text-decoration:none;" href="{% url 'org_work:index' organization.id category.id %}">Work</a>
                <label>  |  </label>
                <a style="text-decoration:none;" href="{% url 'vote:index' organization.id category.id %}">Vote</a>
                <label>  |  </label>
                <a style="text-decoration:none;" href="{% url 'discuss:Index' organization.id category.id %}">Discuss</a>
            {% endif %}
        </div>
    {% endif %}
    <div id="GroupRoots">
        <a style="display:block; font-size:30; text-align:center; text-decoration:none " href = "{% url 'home:index' %}">Group Roots</a>
    </div>
    <aside>
        {% if organization_id != "" %}
        <a style="display:block; text-align:center; font-size: 25; text-decoration:none;" href = "{% url 'org_home:index' organization.id %}">{{ organization }}</a>
        <br/>
        {% endif %}

        <script>
            function addExpandButton(id,name){
                subCategories = subCategoriesAndId(name);
                if (subCategoriesAndId(name)[0].length != 0){
                    document.getElementById(id).innerHTML += "<button class='expandButton' id=\"exp" + id + "\" onclick=\"expand('" + id + "', '" + name + "')\">></button></div>";
                }
            }
            function subCategoriesAndId(parent_name){
                var subCategoryList = [];
                var subCategoryIdList = [];
                {% for category in categories_list %}
                    if ("{{ category.parent }}" == parent_name){
                        var c = "{{ category.category_name }}";
                        var id = "{{ category.id }}";
                        subCategoryList.push(c);
                        subCategoryIdList.push(id);
                    }
                {% endfor %}
                return [subCategoryList,subCategoryIdList]
            }
            <!--Will expand to show the list of subcategories-->
            function expand(divName,parent_name){
                subCategories = subCategoriesAndId(parent_name);
                var subCategoryList = subCategories[0];
                var subCategoryIdList = subCategories[1];
                var newdiv = document.createElement('div');
                newdiv.id = "close" + divName;
                var checkOnPage =  document.getElementById(newdiv.id);
                if (checkOnPage == null){
                    for (c in subCategoryList){
                        id = subCategoryIdList[c];
                        name = subCategoryList[c];
                        url = "{% url 'org_home:individualCategory' organization_id=organization.id category_id=123 %}".replace("123", subCategoryIdList[c]);
                        if (subCategoriesAndId(name)[0].length != 0){
                            newdiv.innerHTML += "<div style='margin-left:15px' id=" + id + ">\
                            <a style='margin-left: 20px; text-decoration:none' href = " +  url + " >" + name + "</a>\
                            <button class='expandButton' id=\"exp" + id + "\" onclick=\"expand('" + id + "', '" + name + "')\">></button></div>";
                        }
                        else{
                            newdiv.innerHTML += "<div style='margin-left:15px' id=" + id + ">\
                            <a style='margin-left: 20px; text-decoration:none' href = " +  url + " >" + name + "</a>";
                        }

                    }
                    document.getElementById(divName).innerHTML += "<input class='expandButton' id='closeButton" + divName + "' type=button value='v' onclick=\"contract('" + divName + "')\"/>";
                    document.getElementById(divName).appendChild(newdiv);
                    document.getElementById("exp" + divName).style.display='none';
                    }
                }
            function contract(divName){
                document.getElementById("close" + divName).remove();
                document.getElementById("closeButton" + divName).remove();
                document.getElementById("exp" + divName).style.display = '';
                }
        </script>

        <!--<label style="display:block; font-size: 20; text-align:center;">Branches<button id="exp" onclick="expand('id')">v</button></label>-->
        {% if categories_list %}
            {% for category in categories_list %}
                {% if category.parent == None or category.parent == "Executive" %}
                    <div id= {{ category.id }}>
                        <a style='margin-left: 20px; text-decoration:none' href="{% url 'org_home:individualCategory' organization.id category.id %}"> {{ category }} </a>
                        <script>addExpandButton('{{ category.id }}', '{{ category }}');</script>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No categories are available.</p>
        {% endif %}
        <br/>
        <a style='margin-left: 20px; text-decoration:none' href = "{% url 'org_home:newCategory' organization.id %}">Create New Branch</a>
    </aside>
    {% block body %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
