{% extends "org_home/base.html" %}
{% load static %}

{% block content2 %}
{% with organization=organization categories_list=categories_list projects_list=projects_list %}
<link rel="stylesheet" type="text/css" href="{% static 'org_home/style.css' %}" />

    {% if user in organization.members.all %}
        <main>
            <br/>
            {% if organization.closed_organization %}
                <div class="categoryMenuItems" style="height: 75px">
                    <a style="text-decoration:none;" href="{% url 'org_home:orgPendingMembersView' organization.id %}">Pending Members</a>
                </div><br/>
            {% endif %}
            <div class="categoryMenuItems" style="height: 75px">
                <a style="text-decoration:none;" href="{% url 'org_home:orgMembersView' organization.id %}">Members</a>
            </div>

            <div class="categoryMenuItems" style="height: 75px">
                <a href="{% url 'org_struct:index' organization.id %}">Constitution</a>
            </div>

            <div class="categoryMenuItems" style="height: 75px">
                <a style="text-decoration:none;" href="{% url 'org_home:cryptoPayView' organization.id %}">Payments</a><br/>
            </div>

            {% if user.is_authenticated %}
            {% if member_categories_list %}
            <div style="border-width: thin; border-style: solid; border-color: #d6d6d8; padding-right:10px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 10px; text-align: center;">
                <h3> My departments:</h3>
                    {% for category in member_categories_list %}
                        <a class="myCatItem" style="text-decoration:none;" href="{% url 'org_home:individualCategory' organization.id category.id %}"> {{ category }} </a>
                    {% endfor %}
            </div>
            {% endif %}

            <div style="border-width: thin; border-style: solid; border-color: #d6d6d8; padding-left:20px; margin-top: 20px; margin-bottom: 10px; text-align: center;">
                <h3> Your contributions percentage: {{ userPercentageInOrg }}%</h3>
            </div>
            
            {% endif %}

        </main>
    {% elif user in organization.pending_members.all %}
        <main>
            <p style="font-style: italic; margin-bottom: 0; margin-left: 10px;">Pending membership</p>
            <div style="margin-left: 5px; margin-top: 25px;" class="categoryMenuItems">
                <a style="text-decoration:none;" href="">Info</a><br/>
            </div>
            <div style="margin-left: 5px; margin-top: 25px;" class="categoryMenuItems">
                <a style="text-decoration:none;" href="">Pay</a><br/>
            </div>
        </main>
    {% else %}
        <main>
            <div style="margin-left: 5px; margin-top: 25px;" class="categoryMenuItems">
                <a style="text-decoration:none;" href="{% url 'org_home:joinOrganization' organization.id %}">Join</a>
            </div>
            <div class="categoryMenuItems">
                <a style="text-decoration:none;" href="">Info</a>
            </div>
            <div class="categoryMenuItems">
                <a style="text-decoration:none;" href="">Pay</a><br/>
            </div>
        </main>
    {% endif %}


    <!--<div id="feed">-->
    <!--<h2>Activity Feed</h2>-->
        <!--<p>Check the "in review" thing in gits. Then post them here</p>-->
        <!--<a href="">Jared changed the logo</a> <a href="">Yay</a> <a href="">Nay</a> <a href="">Discuss</a>-->
    <!--</div>-->

    <!-- Activity Feed -->




{% endwith %}
{% endblock %}
