{% extends "org_home/base.html" %}
{% load static %}

{% block content2 %}
{% with organization=organization category=category categories_list=categories_list projects_list=projects_list %}
<link rel="stylesheet" type="text/css" href="{% static 'org_home/style.css' %}" />

    <main>
        {% if user in category.members.all %}
            <br/>
            <div class="categoryMenuItems">
                <a style="text-decoration:none;" href="">Info</a>
            </div>
            {% if user in category.moderators.all %}
                <div class="categoryMenuItems">
                    <a style="text-decoration:none;" href="">Moderator Access</a>
                </div>
            {% endif %}
            {% if category.closed_category %}
                <div class="categoryMenuItems">
                    <a style="text-decoration:none;" href="{% url 'org_home:pendingMembersView' organization.id category.id %}">Pending Members</a><br/>
                </div>
            {% endif %}
            <div class="categoryMenuItems">
                <a style="text-decoration:none;" href="">Files</a>
            </div>
        {% endif %}

        {% if user in category.pending_members.all %}
            <p>Pending membership</p>
        {% endif %}

        {% if user not in category.members.all %}
            <br/>
            <div class="categoryMenuItems">
                <div class="categoryMenuItems">
                    <a style="text-decoration:none;" href="{% url 'org_home:joinCategory' organization.id category.id %}">Join</a>
                </div>
            </div>
            <div class="categoryMenuItems">
                <a style="text-decoration:none;" href="">Info</a><br/>
            </div>
        {% endif %}

        <div class="categoryMenuItems">
            <a style="text-decoration:none;" href="#">External Resources / Tools</a>
        </div>
        <div class="categoryMenuItems">
            <a style="text-decoration:none;" href="{% url 'org_home:membersView' organization.id category.id %}">Members</a>
        </div>
        <div class="categoryMenuItems">
            <a style="text-decoration:none;" href="{% url 'org_home:modsView' organization.id category.id %}">Moderators</a>
        </div>
        <div class="categoryMenuItems">
            <a style="text-decoration:none;" href="{% url 'org_home:positionsView' organization.id category.id %}">Positions</a>
        </div>
        <div class="categoryMenuItems">
            <a style="text-decoration:none;" href="">Training</a>
        </div>

    </main>

    <div id="feed">
    <h2>Activity Feed</h2>
        <a href="">Jared changed the logo</a> <a href="">Yay</a> <a href="">Nay</a> <a href="">Discuss</a>
    </div>


{% endwith %}
{% endblock %}
