{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'org_home/style.css' %}" />

<article>
{% include "org_home/base.html" with organization=organization category=category categories_list=categories_list %}
{% block content %}

<main>
<br/><br/><a href = "{% url 'org_home:individualCategory' organization.id category.id %}">< Back to {{ category }} home</a><br/>
    <ul>
    {% for member in category.members.all %}
        <li>{{ member }}</li>
    {% endfor %}
    </ul>
</main>
{% endblock %}
</article>
