html, body {
    margin: 0;
    height: 100%;
    background-color: white;
}

article {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-rows: 70px min-content;
  grid-gap: 5px;
  margin: 0;
  width:100%;
  height:100%;
  margin-top:10px;
}

header{
    grid-column:1/4;
    grid-row:1;
}

#GroupRoots {
    grid-column:1;
    grid-row: 1;
    margin-top: 8px;
}

#AccountControls{
    margin-right:10px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1;
    width: 450px;
    height: 40px;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    margin-left: 7%;
    border-radius: 5px;
    background-color: white;
}

#navbar:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

main {
    padding: 0 20 20 20;
    grid-column: 2/3;
    grid-row: 2;
    align-self: start;
    margin-left: 0;
    margin-right: auto;
    width: 60%;
    background-color:white;
    margin-top: 20px;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#tasks {
    padding: 20 20 20 20;
    grid-column: 2/3;
    grid-row: 3;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
    width: 60%;
    align-self: start;
    background-color:white;
    border-style: solid;
    border-color: #d6d6d8;
    border-width: thin;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #2200CC;
}
a:hover {
    color: #2A5DB0;
}

ul{
    list-style-type: none;
}
